/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
  }
  
  *, *:before, *:after {
  box-sizing: inherit;
  }
  
  body {
  /* fony-size + font-family = font */
  font-size: 1.3em ;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0 3%;
  }
  
  h1 {
    font-size: 36px;
  }
  
  img {
    max-width: 100%;
  }
  
  figure {
    margin: 0;
  }
  
  figcaption {
    font-size: .8em;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    body {
      background-color: darkolivegreen;
      font-size: 25px;
      margin: 35px 10%;
    }

    section {
      /* border: darkorange solid 1px; */
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }

    figure {
      flex-basis: 47%;
      margin-right: 3%;
    }
  }

  @media screen and (min-width: 992px) {
    body {
      background-color: darkorange;
      font-size: 20px;
      margin: 35px 15%;
    }
  
  }